.header {
    background: #DBDBDB url(../../../../public/images/escheresque_@2X.png) repeat;
    background-size: 46px 29px;
    border-bottom: 1px solid #E5E5E5;
    height: 130px;

    .headerContent {

        height: auto;
        max-width: 1290px;
        position: absolute;
        top: 24px;
        left: 0;
        right: 0;
        width: 100%;

        .logo {
            position: absolute;
            left: 35px;
            top: 6px;
            z-index: 601;

            a {
                display: block;
                width: 60px;
                height: 60px;
                background: url(../../../../public/images/logo.png) no-repeat center;
                background-size: 60px 60px;
                text-shadow: none;
                color: transparent;
            }
        }
    }
}