.categories {
    padding-top: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}